{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
    
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ut sapiente nemo dolore dolores adipisci
            itaque
            error autem cupiditate expedita! Maxime tempore itaque necessitatibus dolorem laboriosam quae fugiat, ab,
            veritatis
            minus accusantium ad ex minima consequuntur ratione rerum reprehenderit non quibusdam laborum error quas porro
            perspiciatis sed aspernatur? Quas exercitationem, eaque rerum dolore alias quia cumque ullam! Veritatis nulla
            expedita perspiciatis. Libero blanditiis eos recusandae! Enim nostrum repellendus, aspernatur est adipisci non
            doloremque architecto odio laudantium, vel esse eum. Eos doloremque reiciendis minima, necessitatibus sequi
            minus
            impedit nihil ad amet. Quos nulla voluptas at tempora nihil natus autem pariatur neque.</p>
            
        <div class="text-center">
            <a href="/signin/" class="btn btn-primary btn-secondary">
                Signin
            </a>
            <a href="/signup/" class="btn btn-primary btn-dark">
                Signup
            </a>
        </div>

    </section>
</main>

{% endblock %}